/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-gliai0mvuy] {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main[b-gliai0mvuy] {
  flex: 1;
}

.sidebar[b-gliai0mvuy] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-gliai0mvuy] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-gliai0mvuy]  a,
.top-row .btn-link[b-gliai0mvuy] {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child[b-gliai0mvuy] {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-gliai0mvuy] {
    display: none;
  }

  .top-row.auth[b-gliai0mvuy] {
    justify-content: space-between;
  }

  .top-row a[b-gliai0mvuy],
  .top-row .btn-link[b-gliai0mvuy] {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-gliai0mvuy] {
    flex-direction: row;
  }

  .sidebar[b-gliai0mvuy] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-gliai0mvuy] {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
  }
  .content[b-gliai0mvuy] {
    max-width: 500px;
    margin: auto;
  }
  .main > div[b-gliai0mvuy] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
